# Python
__pycache__/
*.py[cod]
*.pyd
*.so
.pytest_cache/
.mypy_cache/

# Virtual env
.venv/
venv/

# Env secrets
.env

# macOS / editor
.DS_Store
.vscode/

# Local DB / logs
*.sqlite
*.db
*.log

# Uploads
storage/uploads/
